<div ng-controller="AppController">
  <ul>
    <li ng-repeat="name in issueNames" class="{{issue && issue.slug == name && 'active'}}"><a ng-click="openIssue(name)" href="#">{{name}}</a></li>
  </ul>

  <div ng-show="issue">
    <hr>

    <input type="button" ng-click="saveIssue(true)" style="float: right;" value="Lagre kopi">
    <input type="button" ng-click="saveIssue(false)" style="float: right;" value="Lagre">

    <h2>{{issue.title}}</h2>
    <p>{{issue.description}}</p>

    <h3>Posisjoner</h3>

    <table>
      <thead>
        <tr>
          <th>Tittel</th>
          <th>Kommentar</th>
          <th>Partier</th>
          <th>Koblede avstemninger</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="position in getPositions(issue)">
          <td>{{position.title}}</td>
          <td>{{position.explanation}}</td>
          <td>
            <p>{{getPartyList(position)}} <strong>vs</strong> {{getCalculatedPartyList(position)}}</p>
          </td>
          <td>{{getVoteCountForPosition(position)}}</td>
        </tr>
      </tbody>
    </table>

    <h3>Avstemninger</h3>

    <table>
      <thead>
        <tr>
          <th style="min-width: 84px;">Dato</th>
          <th>Tittel</th>
          <th>Koble til..</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="vote in getVotes(issue)">
          <td>{{vote.vote.time | date}}</td>
          <td>{{vote.title}}</td>
          <td>
            <select ng-model="vote.position" ng-options="position.title for position in getPositions(issue)">
              <option value="">--velg posisjon--</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>