<div ng-controller="AppController">
  <div id="message">{{message}}</div>

  <ul>
    <li ng-repeat="name in issueNames" class="{{issue && issue.slug == name && 'active'}}"><a ng-click="openIssue(name)" href="#">{{name}}</a></li>
  </ul>

  <div ng-show="issue">
    <hr>

    <input type="button" ng-click="deleteIssue(false)" style="float: right;" value="Slett">
    <input type="button" ng-click="saveIssue(true)" style="float: right;" value="Lagre kopi">
    <input type="button" ng-click="saveIssue(false)" style="float: right;" value="Lagre">

    <h2>{{issue.title}}</h2>
    <p>{{issue.description}}</p>

    <%= erb :positions %>
    <%= erb :votes %>
  </div>
</div>